/*parametrage du body conteneur flex avec direction column*/
/*amiolré la position des box espacé un peu evité le collage des boites*/
body{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*boite de navigation en haut de pages*/
/*todo: rajouter les icone de navigationtravaillé les borders avec rayon */
.navigation {
  width: 100%;
  height: 100px;
  background-color: purple;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
/*mise à l echelle du logo*/
.logo{
  width:250px;
  height:100%;
}
/*mise en couleur des nav et changement couleur au passage souris*/

/*mise a l echelle du boutton de connection */
/*todo:travaillé les border et couleur*/
.conec{
  color : white;
  background-color: purple;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}
/*boite de presentation du produits phare*/
/*todo:flou image arriere plan*/
/*---- */
.prophare{
  width: 100%;
  height: 300px;
  border: solid 1px black;
  background:center/contain no-repeat url("IMG/voyage_tunisie.png"),
              150% url("IMG/voyage_tunisie.png");
}
/*boite contenant le filtre*/
/*todo: travaille border*/
.filtre{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chercher{
  background-color: blue;
}
.pub{
  margin: 10px;
}
/*boite contenant les  boites produits*/
/*gere les 4 boites produits en meme temps*/
.produit{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
/*passe les 4 boite en flex et permet */
div article {
  background-color: white;
  border:solid 1px black;
  border-radius: 5px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
article header {
  font-size: 2em;

}

article button{
  background-color: orange;
  color:white;
  text-shadow: 5px 4px 4px;
  width:50%;
  margin-left: 25%;
}
